.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-info {
    line-height: 3rem;
    color: var(--grayishBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.header__title {
    color: var(--darkGrayishBlue);
    line-height: 4.5rem;
    width: 90%;
}

.header__text {
    width: 88%;
}

.logo-container {
    position: relative;
    height: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-header {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg-header-mobile.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 785px) {
    .bg-header {
      background-image: url('../images/bg-header-desktop.png');
    }
    .header {
        height: 80vh;
    }
    .logo-container {
        height: 55%;
    }
    .header-info {
        position: relative;
        bottom: 8rem;
    }
    .header__title {
        font-size: 4.5rem;
    }
    .header__text {
        font-size: 2rem;
        width: 50%;
    }
  }