@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  /* Primary */

  --strongCyan: hsl(171, 66%, 44%);
  --lightBlue: hsl(233, 100%, 69%);

  /* Neutral */

  --darkGrayishBlue: hsl(210, 10%, 33%);
  --grayishBlue: hsl(201, 11%, 66%);

  --white: rgb(248, 248, 248);
  --black: #000;
  --footerbg: rgb(247, 242, 242);
  
  /* Font */

  --ff: 'Bai Jamjuree', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

/* ==============
  Global Styles
============== */

.container {
  width: min(90%, 130rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  max-width: 75ch;
  font-size: 1.7rem;
}

/* ==============
  Utilities
============== */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: 0;
}

.center-text {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 2rem;
}

/* ==============
  Custom Styles
============== */

.logo {
  cursor: pointer;
  z-index: 23222;
}

/* ==============
    Media Queries
============== */